<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>wechat</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>wechat</servlet-name>
    <servlet-class>org.com.huang.wechat.wechat</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WX_Interface</servlet-name>
    <servlet-class>org.com.huang.wechat.WX_Interface</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAccessTokenServlet</servlet-name>
    <servlet-class>org.com.huang.wechat.GetAccessTokenServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateMean</servlet-name>
    <servlet-class>org.com.huang.wechat.CreateMean</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SNSUserInfo</servlet-name>
    <servlet-class>org.com.huang.wechat.SNSUserInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OAuthServlet</servlet-name>
    <servlet-class>org.com.huang.wechat.OAuthServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteMean</servlet-name>
    <servlet-class>org.com.huang.wechat.DeleteMean</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>wechat</servlet-name>
    <url-pattern>/wechat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WX_Interface</servlet-name>
    <url-pattern>/WX_Interface</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAccessTokenServlet</servlet-name>
    <url-pattern>/GetAccessTokenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateMean</servlet-name>
    <url-pattern>/CreateMean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SNSUserInfo</servlet-name>
    <url-pattern>/SNSUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OAuthServlet</servlet-name>
    <url-pattern>/OAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMean</servlet-name>
    <url-pattern>/DeleteMean</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>